@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafaf9; /* Matching the UTC stone-50 background */
}
